h1{
    font-size: 4em;
    text-align: center;
    text-decoration:underline ;
    font-weight: 600;
    font-family:fantasy;
    color: rgb(123,231,223);
} 
.good {
    color:purple;
    text-align: right;
}
.bad {
    color:orange;
    font-size: 2.5em;
}
background-color:blue;
< h1 class"=>homepage<h1>

.html {
    color:green;
}